In [12]:
import pandas as pd
import numpy as np

## 数据离散化
- cut自定义区间分组
- qcut自动区间分组
- get_dummies对数据one-hot编码(整行只有一个1，其余都是0)

In [2]:
data = pd.read_csv('data/nobel_prizes.csv')
data.head()

,year,category,overallMotivation,id,firstname,surname,motivation,share
0,2017,physics,NaN,941,Rainer,Weiss,"""for decisive contributions to the LIGO detect...",2
1,2017,physics,NaN,942,Barry C.,Barish,"""for decisive contributions to the LIGO detect...",4
2,2017,physics,NaN,943,Kip S.,Thorne,"""for decisive contributions to the LIGO detect...",4
3,2017,chemistry,NaN,944,Jacques,Dubochet,"""for developing cryo-electron microscopy for t...",3
4,2017,chemistry,NaN,945,Joachim,Frank,"""for developing cryo-electron microscopy for t...",3

In [3]:
data.describe()

              year          id       share
count   923.000000  923.000000  923.000000
mean   1969.823402  468.769231    1.982665
std      33.070329  273.950963    0.932495
min    1901.000000    1.000000    1.000000
25%    1946.000000  231.500000    1.000000
50%    1975.000000  463.000000    2.000000
75%    1998.000000  707.500000    3.000000
max    2017.000000  949.000000    4.000000

In [14]:
year = data['year']
year
np.any(year.isnull())

False

In [19]:
# 自动分组
qcut = pd.qcut(year, 10)
qcut

0        (2010.0, 2017.0]
1        (2010.0, 2017.0]
2        (2010.0, 2017.0]
3        (2010.0, 2017.0]
4        (2010.0, 2017.0]
              ...
918    (1900.999, 1918.2]
919    (1900.999, 1918.2]
920    (1900.999, 1918.2]
921    (1900.999, 1918.2]
922    (1900.999, 1918.2]
Name: year, Length: 923, dtype: category
Categories (10, interval[float64, right]): [(1900.999, 1918.2] < (1918.2, 1936.0] < (1936.0, 1953.0] < (1953.0, 1965.0] ... (1985.0, 1994.0] < (1994.0, 2002.0] < (2002.0, 2010.0] < (2010.0, 2017.0]]

In [18]:
# 统计各分组数量
qcut.value_counts()

(1918.2, 1936.0]      97
(1975.0, 1985.0]      97
(1994.0, 2002.0]      97
(1900.999, 1918.2]    93
(1965.0, 1975.0]      93
(2002.0, 2010.0]      93
(1953.0, 1965.0]      92
(1985.0, 1994.0]      90
(1936.0, 1953.0]      88
(2010.0, 2017.0]      83
Name: year, dtype: int64

In [22]:
# 自定义分组
cut = pd.cut(year, [1900, 1936, 2010])
cut.value_counts()

(1936, 2010]    650
(1900, 1936]    190
Name: year, dtype: int64

In [25]:
dummies = pd.get_dummies(data, prefix='rise')
dummies

,year,id,share,rise_chemistry,rise_economics,rise_literature,rise_medicine,rise_peace,rise_physics,"rise_""for basic work on information and communication technology""",...,"rise_""who in the quest for the melancholic soul of his native city has discovered new symbols for the clash and interlacing of cultures""","rise_""who through her magnificent epic writing has - in the words of Alfred Nobel - been of very great benefit to humanity""","rise_""who with hallucinatory realism merges folk tales, history and the contemporary""","rise_""who with parables sustained by imagination, compassion and irony continually enables us once again to apprehend an elusory reality""","rise_""who with poetic force creates an imagined world, where life and myth condense to form a disconcerting picture of the human predicament today""","rise_""who with uncompromising clear-sightedness voices man's exposed condition in a world of severe conflicts""","rise_""who, in novels of great emotional force, has uncovered the abyss beneath our illusory sense of connection with the world""","rise_""who, through works rich in nuance - now clear-sightedly realistic, now evocatively ambiguous - has formed an Arabian narrative art that applies to all mankind""","rise_""who, with the concentration of poetry and the frankness of prose, depicts the landscape of the dispossessed""","rise_""whose frolicsome black fables portray the forgotten face of history"""
0,2017,941,2,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2017,942,4,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,2017,943,4,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,2017,944,3,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2017,945,3,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
918,1901,160,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
919,1901,293,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
920,1901,569,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
921,1901,462,2,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
922,1901,463,2,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0